@import "tailwindcss";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
:root {
 font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
/* .ant-typography,
.ant-btn, */
.ant-input,
.ant-select-selector,
.ant-menu {
   font-family: 'Poppins', sans-serif !important;
   margin: 0;
   overflow-x: hidden !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
* {
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
}

/* .smooth-scroll {
  will-change: transform;
  transform: translateZ(0);
} */
